# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
liczbaPI/x64/Debug/vc143.pdb
liczbaPI/x64/Debug/vc143.idb
liczbaPI/x64/Debug/liczbaPI.vcxproj.FileListAbsolute.txt
liczbaPI/x64/Debug/liczbaPI.tlog/link.write.1.tlog
liczbaPI/x64/Debug/liczbaPI.tlog/link.read.1.tlog
liczbaPI/x64/Debug/liczbaPI.tlog/link.command.1.tlog
liczbaPI/x64/Debug/liczbaPI.tlog/liczbaPI.lastbuildstate
liczbaPI/x64/Debug/liczbaPI.tlog/CL.write.1.tlog
liczbaPI/x64/Debug/liczbaPI.tlog/CL.read.1.tlog
liczbaPI/x64/Debug/liczbaPI.tlog/Cl.items.tlog
liczbaPI/x64/Debug/liczbaPI.tlog/CL.command.1.tlog
liczbaPI/x64/Debug/liczbaPI.pdb
liczbaPI/x64/Debug/liczbaPI.log
liczbaPI/x64/Debug/liczbaPI.ilk
liczbaPI/x64/Debug/liczbaPI.exe.recipe
liczbaPI/liczbaPI.vcxproj.user
liczbaPI/liczbaPI.vcxproj.filters
liczbaPI/liczbaPI.vcxproj
liczbaPI/liczbaPI.sln
liczbaPI/.vs/liczbaPI/v17/ipch/AutoPCH/9545fdde876965f7/LICZBAPI.ipch
liczbaPI/.vs/liczbaPI/v17/Browse.VC.opendb
liczbaPI/.vs/liczbaPI/v17/Browse.VC.db-wal
liczbaPI/.vs/liczbaPI/v17/Browse.VC.db-shm
liczbaPI/.vs/liczbaPI/v17/Browse.VC.db
liczbaPI/.vs/liczbaPI/v17/.suo
liczbaPI/.vs/liczbaPI/FileContentIndex/07d0c2e0-b40a-4a9c-9054-e1afa9c49cb8.vsidx
